* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
    /* border: 1px solid rgba(255, 0, 0, 0.406); */
}

html {
    background-color: black;
    height: 100%;
}

body {
    background-color: #fffbf7;
    border-radius: 20px;
}

nav {
    padding: 30px;
    display: flex;
    justify-content: space-between;

}

a {
    padding: 9px 20px;
    border-radius: 999px;
    background-color: white;
    color: black;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.054);
    text-transform: capitalize;
}

.logo-holder>img {
    width: 30px;
    border-radius: 999px;
}

.logo-holder {
    display: flex;
    gap: 10px;
    align-items: center;
}

.layout {
    /* display: flex;
    justify-content: space-between; */
    margin: 0px 30px 0px 30px;
    border-radius: 20px;
    background: url("./img/bg3.png");
    background-size: cover;
}

.header-content {
    width: 50%;
    padding: 100px 30px;
}

.header-content>div {
    text-transform: capitalize;
}

.header-content>div {
    border: 1px solid black;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 999px;
    font-size: 12px;
}

.header-content>h2 {
    font-size: 40px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 15px;
}

.card-holder {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1.1fr 1.3fr;
    gap: 30px;

}

.card {
    background-color: aqua;
    padding: 20px;
    border-radius: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(img/card-bg2.jpg);
    background-size: cover;
    position: relative;
}

.card-heading-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-heading-holder>div {
    padding: 9px 20px;
    border-radius: 999px;
    background-color: white;
    color: black;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.054);
    text-transform: capitalize;
}

.card-heading-holder>button {
    padding: 10px;
    border-radius: 999px;
    background-color: white;
    color: black;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.054);
    text-transform: capitalize;
}

.card-heading-holder>button img {
    width: 24px;
    height: 24px;
}

.card-fotter {
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    z-index: 1;
}

.card-heading-holder {
    z-index: 1;
}

.card2 {
    background: url("./img/10.jpg");
    background-size: cover;
}

.card3 {
    background: url("./img/7.webp");
    background-size: cover;
}

.card>.overlay {
    height: 400px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0) 56%, rgba(0, 0, 0, 1) 100%);
    opacity: 0.4;
    border-radius: 20px;
}

/* .card-fotter-content-holder{
    display:flex;
    justify-content: space-between;
} */
.card-fotter-content-holder:nth-child(1) {
    width: 60%;
}

.card-fotter-input-holder>input {
    background-color: transparent;
    padding: 10px;
    border-radius: 999px;
    border: 1.5px solid #ddd;
    width: 100%;
    margin-top: 20px;
}

.card-fotter-input-holder>input::placeholder {
    color: aliceblue;
}

.card-fotter-input-holder>button {
    position: absolute;
    top: 20.5px;
    ;
    right: 0.5px;
    padding: 8px;
    margin: 2px;
    border-radius: 999px;
    color: black;
    background: rgba(225, 225, 225, 0.5);
    backdrop-filter: blur(2px);
    border: none;
}

.card-fotter-input-holder {
    position: relative;
}

.testimonials-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 300px 30px 200px 30px;
    background-color: #fff;
    border-radius: 40px 40px 0px 0px;
    background-image: url(img/testimonial-new1.jpg);
    background-size: cover;

}

.testimonials-header button {
    background-color: #f3f4f6dd;
    color: #666;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 1px;
    border: 2px groove rgba(128, 128, 128, 0.233);
}

.testimonials-header h2 {
    font-size: 36px;
    line-height: 1;
    color: rgba(251, 250, 250, 0.865);
    margin-bottom: 15px;
}


.testimonials-header p {
    color: rgb(254, 254, 254);
    width: 480px;
    line-height: 1.6;
    margin: 0 auto;

}

.instructor-header {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 30px 100px 30px;
    max-width: 100%;
    gap: 10px;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: rgb(137, 119, 95);
    border-radius: 20px;
    height: 400px;
    width: 300px;
    /* background: url(img/plane\ bg\ 5.jpg); */
    background-size: cover;
}

.box1 span {
    color: rgba(245, 245, 245, 0.814);
    padding: 8px 16px;
    background-color: #c1b2a163;
    width: fit-content;
    border-radius: 999px;
    /* margin-top: 10px; */
    border: 1px groove rgba(184, 173, 173, 0.478);
    margin-bottom: 5px;
}

.box1 h2 {
    color: rgba(245, 245, 245, 0.814);
    margin-bottom: 100px;
}

.box1 p {
    font-size: 14px;
    color: rgba(245, 245, 245, 0.686);
}

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background: url(img/card-bg11.jpg);
    background-size: cover;
    border-radius: 20px;
    height: 400px;
    width: 300px;
}

.box3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background: url(img/card-bg12.jpg);
    background-size: cover;

    border-radius: 20px;
    height: 400px;
    width: 300px;
}

.box4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background: url(img/card-bg\ 13.jpg);
    background-size: cover;
    border-radius: 20px;
    height: 400px;
    width: 300px;
}

.box {
    position: relative;
    text-transform: capitalize;
}

.box .overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 20px;
    height: 400px;
    width: auto;
    text-align: center;
}

.overlay span {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    color: rgb(236, 234, 234);
    border-top: 1px solid rgba(255, 250, 250, 0.344);
    border-left: 1px solid rgba(255, 250, 250, 0.407);
    box-shadow: 3px 3px 3px rgba(255, 250, 250, 0.106);
}
.glass-container {
    height: 300px;
    width: 550px;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(7px);
    border-top: 1px solid rgba(255, 255, 255, 0.411);
    border-left: 1px solid rgba(255, 255, 255, 0.355);
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.146);
}