* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
    /* border: 1px solid rgba(255, 0, 0, 0.406); */
}

html {
    background-color: rgb(0, 0, 0);
    height: 100%;
}

body {
    background-color: #fffbf7;
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100vw;
}

nav {
    padding: 30px;
    display: flex;
    justify-content: space-between;

}

nav a {
    padding: 9px 20px;
    border-radius: 999px;
    background-color: white;
    color: black;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.054);
    text-transform: capitalize;
}

nav button {
    display: none;
}

.logo-holder>img {
    width: 30px;
    border-radius: 999px;
}

.logo-holder {
    display: flex;
    gap: 10px;
    align-items: center;
}

.layout {
    /* display: flex;
    justify-content: space-between; */
    margin: 0px 30px 0px 30px;
    border-radius: 20px;
    background: url("./img/bg3.png");
    background-size: cover;
}

.header-content {
    width: 50%;
    padding: 100px 30px;
}

.header-content>div {
    text-transform: capitalize;
}

.header-content>div {
    border: 1px solid black;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 999px;
    font-size: 12px;
}

.header-content>h2 {
    font-size: 40px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 15px;
}

.card-holder {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1.1fr 1.3fr;
    gap: 30px;

}

.card {
    background-color: aqua;
    padding: 20px;
    border-radius: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(img/card-bg2.jpg);
    background-size: cover;
    position: relative;
}

.card-heading-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-heading-holder>div {
    padding: 9px 20px;
    border-radius: 999px;
    background-color: white;
    color: black;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.054);
    text-transform: capitalize;
}

.card-heading-holder>button {
    padding: 10px;
    border-radius: 999px;
    background-color: white;
    color: black;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.054);
    text-transform: capitalize;
}

.card-heading-holder>button img {
    width: 24px;
    height: 24px;
}

.card-fotter {
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    z-index: 1;
}

.card-heading-holder {
    z-index: 1;
}

.card2 {
    background: url("./img/10.jpg");
    background-size: cover;
}

.card3 {
    background: url("./img/7.webp");
    background-size: cover;
}

.card>.overlay {
    height: 400px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0) 56%, rgba(0, 0, 0, 1) 100%);
    opacity: 0.4;
    border-radius: 20px;
}

/* .card-fotter-content-holder{
    display:flex;
    justify-content: space-between;
} */
.card-fotter-content-holder:nth-child(1) {
    width: 60%;
}

.card-fotter-input-holder>input {
    background-color: transparent;
    padding: 10px;
    border-radius: 999px;
    border: 1.5px solid #ddd;
    width: 100%;
    margin-top: 20px;
}

.card-fotter-input-holder>input::placeholder {
    color: aliceblue;
}

.card-fotter-input-holder>button {
    position: absolute;
    top: 20.5px;
    right: 1px;
    padding: 8px;
    margin: 2px;
    border-radius: 999px;
    color: black;
    background: rgba(225, 225, 225, 0.859);
    backdrop-filter: blur(2px);
    border: none;
    backdrop-filter: blur(7px);
    border-top: 1px solid rgba(255, 255, 255, 0.411);
    border-left: 1px solid rgba(255, 255, 255, 0.355);
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.146);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.card-fotter-input-holder {
    position: relative;
}

.testimonials-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 300px 30px 200px 30px;
    background-color: #fff;
    border-radius: 40px 40px 0px 0px;
    background-image: url(img/testimonial-new1.jpg);
    background-size: cover;

}

.testimonials-header button {
    background-color: #f3f4f6dd;
    color: #666;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 1px;
    border: 2px groove rgba(128, 128, 128, 0.233);
}

.testimonials-header h2 {
    font-size: 36px;
    line-height: 1;
    color: rgba(251, 250, 250, 0.865);
    margin-bottom: 15px;
}


.testimonials-header p {
    color: rgb(254, 254, 254);
    width: 480px;
    line-height: 1.6;
    margin: 0 auto;

}

.instructor-header {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 30px 100px 30px;
    max-width: 100%;
    gap: 10px;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: rgb(137, 119, 95);
    border-radius: 20px;
    height: 400px;
    width: 300px;
    /* background: url(img/plane\ bg\ 5.jpg); */
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.box1 span {
    color: rgba(245, 245, 245, 0.814);
    padding: 8px 16px;
    background-color: #c1b2a163;
    width: fit-content;
    border-radius: 999px;
    /* margin-top: 10px; */
    border: 1px groove rgba(184, 173, 173, 0.478);
    margin-bottom: 5px;
}

.box1 h2 {
    color: rgba(245, 245, 245, 0.814);
    margin-bottom: 100px;
}

.box1 p {
    font-size: 14px;
    color: rgba(245, 245, 245, 0.686);
}

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background: url(img/card-bg11.jpg);
    background-size: cover;
    border-radius: 20px;
    height: 400px;
    width: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.box3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background: url(img/card-bg12.jpg);
    background-size: cover;

    border-radius: 20px;
    height: 400px;
    width: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.box4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background: url(img/card-bg\ 13.jpg);
    background-size: cover;
    border-radius: 20px;
    height: 400px;
    width: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.box {
    position: relative;
    text-transform: capitalize;
}

.box .overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 20px;
    height: 400px;
    width: auto;
    text-align: center;
}

.overlay span {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    color: rgb(236, 234, 234);
    border-top: 1px solid rgba(255, 250, 250, 0.344);
    border-left: 1px solid rgba(255, 250, 250, 0.407);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.glass-container {
    height: 300px;
    width: 550px;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(7px);
    border-top: 1px solid rgba(255, 255, 255, 0.411);
    border-left: 1px solid rgba(255, 255, 255, 0.355);
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.146);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.workshop-section {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    /* height: 600px; */
    border-radius: 30px 30px 0px 0px;
    padding: 30px;
}

.workshop-container-1 {
    color: whitesmoke;
    padding: 30px;
    width: 40%;
    margin-bottom: 100px;
}

.workshop-container-1 h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.workshop-container-2 {
    display: flex;
    width: 60%;
    justify-content: center;
    text-align: center;
    height: auto;
    margin-top: 20px;
}

.workshop-container-card1 {
    height: 350px;
    width: 50%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
    border-radius: 20px;
    background-image: url(img/workshop-cardbg4.jpg);
    background-size: cover;
    padding: 20px;
    text-align: left;
}

.workshop-container-card1 a {
    margin-left: auto;
    margin-top: auto;
    border-radius: 20px;
    padding: 9px 20px;
    border-radius: 999px;
    background-color: white;
    color: black;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.054);
}

.workshop-container-card2 {
    height: 350px;
    width: 50%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
    border-radius: 20px;
    background-image: url(img/workshop-cardbg6.jpg);
    background-size: cover;
    padding: 20px;
    text-align: left;
}

.workshop-container-card2 a {
    margin-left: auto;
    margin-top: auto;
    border-radius: 20px;
    padding: 9px 20px;
    border-radius: 999px;
    background-color: white;
    color: black;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.054);
}

.faq-section {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    /* height: 600px; */
    padding: 30px;
    border-radius: 30px 30px 0px 0px;
    background-color: white;
    width: 100%;
}

.overlay-container {
    position: relative;
}

.faq-section {
    margin-top: -30px;
    margin-bottom: 50px;
}

.faq-container-1 {
    width: 50%;
    padding: 10px;

}

.faq-container-2 {
    width: 50%;
    margin-left: 100px;
}

.faq-container-1 button {
    color: black;
    border-radius: 30px;
    padding: 8px 16px;
    font-size: 13px;
    background-color: whitesmoke;
    margin-bottom: 10px;
    border: 1.5px solid rgba(128, 128, 128, 0.51);
}

.faq-container-1 h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.faq-container-2 .faq {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 20px;
    box-shadow: 1px 3px 4px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    /* border-bottom: 1px solid #ddd; */
}

.faq-bold {
    font-weight: 800;
    font-size: 18px;
}

.faq p {
    padding: 20px 0px 0px 0px;
    font-weight: normal;
    font-size: 15px;
}

.fotter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    padding: 30px;
    background-color: #e9eafdc1;
    border-radius: 30px 30px 0px 0px;
    margin-top: -100px;
    color: rgba(17, 16, 16, 0.934);
    z-index: 100;
    position: relative;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    align-items: center;
}

.fotter-heading {
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 50px;
    margin-top: 50px;


}

#heading {
    font-size: 20px;
    line-height: 1;
    color: rgba(17, 16, 16, 0.934);
    margin-bottom: 15px;
    font-weight: 900;
}

.button-holder {
    gap: 3px;
    justify-content: center;
    background-color: rgb(244, 245, 246);
    padding: 8px 16px;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.button-holder div {
    font-weight: 520;
    font-size: 13px;
}

.button-holder img {
    height: 20px;
    width: 20px;
    margin-top: 3px;
}

.fotter-content {
    gap: 100px;
    padding: 30px;
    justify-content: space-between;
}

.followus-logo-holder img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.fotter-content-container1 {
    width: 40%;
}

.fotter-content-container2 {
    gap: 10px;
    justify-content: space-between;
    width: 60%;
}

.content label {
    color: #4d4d4d8b;
    font-size: 13px;
    padding-bottom: 5px;
}

.content h3 {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.content {
    height: 200px;
    width: auto;
}

.content p {
    font-size: 13px;
    margin-bottom: 10px;
}

.no-border {
    border: none;
    outline: none;
}


.copyright-container {
    justify-content: space-between;
    padding-top: 30px;
    font-size: 13px;
    border-top: 3px solid rgba(128, 128, 128, 0.237);
    color: #4d4d4d;
}

.subscribe-input-holder {
    position: relative;
}

.subscribe-input-holder input {
    padding: 10px;
    border-radius: 999px;
    width: 100%;
    border: 1px solid #4d4d4d;
}

.subscribe-input-holder input:focus {
    border: 1px solid black;
}

.subscribe-input-holder button {
    border-radius: 999px;
    padding: 6px;
    position: absolute;
    top: 3.5px;
    right: 3.5px;
}